{{#if duplicates}}
    <h3>Duplicates</h3>
    <ul>
        {{#each duplicates}}
            <li>
                {{#each this}}
                    <div class="wrapper">
                        <div>{{this.fileName}}</div>
                        <div>w: {{this.metaData.width}}, h: {{this.metaData.height}}</div>
                        <div>
                            <a target="_blank" href="/img{{this.file}}">
                                <img class="dup" src="/img{{this.file}}">
                            </a>
                        </div>
                        <div>
                            <button data-id="/img{{this.file}}">delete</button>
                        </div>
                    </div>
                {{/each}}
            </li>
        {{/each}}
    </ul>
{{/if}}
{{#if potentialDuplicates}}
    <h3>Potential Duplicates</h3>
    <ul>
        {{#each potentialDuplicates}}
            <li>
                {{#each this}}
                    <div class="wrapper">
                        <div>{{this.fileName}}</div>
                        <div>w: {{this.metaData.width}}, h: {{this.metaData.height}}</div>
                        <div>
                            <a target="_blank" href="/img{{this.file}}">
                                <img class="dup" src="/img{{this.file}}">
                            </a>
                        </div>
                        <div>
                            <button data-id="/img{{this.file}}">delete</button>
                        </div>
                    </div>
                {{/each}}
            </li>
        {{/each}}
    </ul>
{{/if}}
